---
import type { Author, Note, Link } from "../types/types";
import Links from "./Links.astro";
import Authors from "./Authors.astro";
import Notes from "./Notes.astro";

interface Props {
  title: string;
  authors: Author[];
  conference?: string;
  notes?: Note[];
  links: Link[];
}

const { title, authors, institute, conference, notes, links } = Astro.props as Props;
---
<header class="flex flex-col gap-10 items-center mb-6">
  <h1>{title}</h1>
  <div class="flex flex-col gap-6 items-center">
    <Authors authors={authors} />
    {institute && (
      <p class="text-center">
        {institute.map((inst, index) => (
          <span key={index}>
            <sup>{inst.symbol}</sup>{inst.name}
            {index < institute.length - 1 && ', '}
          </span>
        ))}
      </p>
    )}
    {conference && <p class="text-center">{conference}</p>}
    {notes && <Notes notes={notes} />}
    {links && <Links links={links} />}
  </div>
</header>

